* text=auto !eol
/pom.xml -text
src/main/java/com/javelin/hi/authorization/AuthorizationHandler.java -text
src/main/java/com/javelin/hi/authorization/AuthorizationWorkflowEvent.java -text
src/main/java/com/javelin/hi/authorization/model/Auth.java -text
src/main/java/com/javelin/hi/authorization/model/Authorization.java -text
src/main/java/com/javelin/hi/authorization/model/AuthorizationAdapter.java -text
src/main/java/com/javelin/hi/authorization/model/DomainRule.java -text
src/main/java/com/javelin/hi/authorization/model/Group.java -text
src/main/resources/configuration/authorizationHandler.xml -text
src/main/resources/hippoecm-extension.xml -text
src/main/resources/namespaces/authorization.cnd -text
src/main/resources/namespaces/authorization.xml -text
src/main/resources/namespaces/authorization/authorization.xml -text
src/main/resources/namespaces/authorization/basedocument.xml -text
src/main/resources/templates/domain/admin.xml -text
src/main/resources/templates/domain/author.xml -text
src/main/resources/templates/domain/editor.xml -text
src/main/resources/templates/domain/readwrite.xml -text
src/main/resources/templates/group/admins.xml -text
src/main/resources/templates/group/authors.xml -text
src/main/resources/templates/group/editors.xml -text
src/main/resources/templates/master.xml -text
src/test/java/com/javelin/hi/authorization/TemplatingTest.java -text
src/test/resources/templates/domain/admin.xml -text
src/test/resources/templates/domain/author.xml -text
src/test/resources/templates/domain/editor.xml -text
src/test/resources/templates/domain/readwrite.xml -text
src/test/resources/templates/group/admins.xml -text
src/test/resources/templates/group/authors.xml -text
src/test/resources/templates/group/editors.xml -text
src/test/resources/templates/master.xml -text
src/test/resources/templates/test.xml -text
